body {
  font-family: Georgia;
  color: #333;
  min-width: 290px;
  width: 50%;
  margin: 5% 5% 5% 10%;
}

#content {
  font-family: Georgia;
}

#content h1 {
  font-size: 30px;
}

#content h2 {
  font-size: 24px;
}

#content h3 {
  font-size: 22px;
}

#content h4 {
  font-size: 18px;
}

#content h5 {
  font-size: 13px;
}

#content code {
  display: inline-block;
  padding: 0.1em 0.1em;
  background-color: #f5f5f5;
}

#content p {
  font-size: 15px;
}

#content blockquote {
  font-style: italic;
  font-size: 14px;
  margin-inline-start: 12px;
  margin-inline-end: 12px;
}

#content blockquote p::before {
  font-style: italic;
  font-size: 16px;
  content: '\201C';
}

#content blockquote p::after {
  font-style: italic;
  font-size: 16px;
  content: '\201D';
}

a {
  color: #333;
  font-weight: 600;
}

.footnotes * {
  font-size:14px;
}

.footnotes a.reversefootnote {
  font-weight:300;
}

.footnotes ol {
  padding-inline-start: 30px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #7F8C8D;
    background-color: #222;
  }
  a {
    color: #7F8C8D;
  }
}

.pd{width:5em;text-align:center}
.parent div{display:flex}
@media screen and (max-width: 600px){
.pd{display:none;}
.parent div{padding-bottom:1em;}}
img{max-width:100%;height:auto;}
pre{max-width:100%;height:auto;white-space:pre-wrap}

.navi-center{display:flex;flex-direction:row;justify-content:space-around;align-content:space-around;padding-bottom:.5em;font-style:Georgia;}
