<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="/stylesheets/cover.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <center>
    <div>
      <img class="cover-pic" src=/img/bateman.jpg>
    </div>
    <div class="navi-center">
      <a href="posts.html">Posts</a>
      <a href="weekly.html">Weekly</a>
      <a href="about.html">About</a>
    </div>
  </center>
</body>
</html>
